<template>
    <div class="teacher_manage">
        <item-header content="教师列表"/>
        <div class="teacher_list">
            <div class="handle_box">
                <el-button type="primary" class="add_teacher" @click="addTeacher">添加教师</el-button>
                <el-button type="primary"  @click="clearSelect">无条件查询</el-button>
                <div class="select_handle">
                    <el-form
                        ref="form"
                        :inline="true"
                        :model="teacherForm"
                        label-width="80px">
                        <el-form-item >
                            <el-input class="text" v-model="teacherForm.teacherNum" placeholder="工号"/>
                        </el-form-item>
                        <el-form-item >
                            <el-input class="text" v-model="teacherForm.teacherName" placeholder="姓名"/>
                        </el-form-item>
                        <el-form-item >
                            <el-input class="text" v-model="teacherForm.department" placeholder="学科部"/>
                        </el-form-item>
                        <el-form-item >
                            <el-input class="text" v-model="teacherForm.degree" placeholder="学位"/>
                        </el-form-item>
                        <el-form-item >
                            <el-input class="text" v-model="teacherForm.professional" placeholder="职称"/>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" class="select_teacher" @click="queryTeacherList">查询教师</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
            <el-table
                :data="teacherList"
                :stripe="true"
                style="width: calc(100% - 20px) ">
                <el-table-column
                    prop="teacherNum"
                    label="工号"
                    width="120"
                />
                <el-table-column
                    prop="teacherName"
                    label="姓名"
                    width="80"/>
                <el-table-column
                    prop="sex"
                    label="性别"
                    width="60"/>
                <el-table-column
                    prop="department"
                    label="学科部"
                    fit/>
                <el-table-column
                    prop="degree"
                    label="学位"
                    width="100"/>
                <el-table-column
                    prop="professional"
                    label="职称"
                    width="100"/>
                <el-table-column label="操作" fit>
                    <template slot-scope="item">
                        <el-button  type="text" @click="viewTeacher(item.row)" >查看</el-button>
                        <el-button  type="text" @click="editTeacher(item.row)" >编辑</el-button>
                        <el-button  type="text" @click="deleteTeacher(item.row)" >删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="pageGroup"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total"/>
        </div>
        <el-dialog
            :visible.sync="infoShow"
            @closed="isView=false"
            :destroy-on-close="true"
            title="教师信息"
            width="500px"
            top="100px"
            center>
            <el-form
                ref="ruleForm"
                :model="teacherInfo"
                class="info_form"
                :rules="rules"
                label-width="120px">
                <el-form-item label="工号" prop="teacherNum">
                    <el-input v-model.number="teacherInfo.teacherNum" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                    <el-input v-model="teacherInfo.password" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="姓名" prop="teacherName">
                    <el-input v-model="teacherInfo.teacherName" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="性别" prop="sex">
                    <el-radio-group v-model="teacherInfo.sex">
                        <el-radio label="男" :disabled="isView==true"/>
                        <el-radio label="女" :disabled="isView==true"/>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="学科部" prop="department">
                    <el-input v-model="teacherInfo.department" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="学位" prop="degree">
                    <el-input v-model="teacherInfo.degree" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="职称" prop="professional">
                    <el-input v-model="teacherInfo.professional" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="电话号码" prop="phone">
                    <el-input v-model.number="teacherInfo.phone" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="qq号码" prop="qq">
                    <el-input v-model.number="teacherInfo.qq" :disabled="isView==true"/>
                </el-form-item>
                <div class="button_box">
                    <el-button v-show="isView==false" type="primary" @click="onSubmit('ruleForm')">确认提交</el-button>
                    <el-button @click="infoShow=false" v-text="isView==true?'确认':'取消'"/>
                </div>
            </el-form>
        </el-dialog>
    </div>
</template>

<script>
export default {
    name: 'TeacherManage',
    data() {
        return {
            pageGroup: [],
            total: 0,
            pageSize: 10,
            currentPage: 1,
            infoShow: false,
            isAdd: false,
            isView: false,
            teacherList: [],
            teacherForm: {
                teacherNum: '',
                teacherName: '',
                department: '',
                degree: '',
                professional: ''
            },
            teacherInfo: {},
            rules: {
                teacherNum: [
                    { required: true, message: '请输入工号', trigger: 'blur' },
                    { type: 'number', message: '请输入数字', trigger: 'blur' }
                ],
                teacherName: { required: true, message: '请输入姓名', trigger: 'blur' },
                sex: { required: true, message: '请选择性别', trigger: 'bulur' },
                department: { required: true, message: '请输入学科部', trigger: 'blur' },
                degree: { required: true, message: '请输入学位', trigger: 'blur' },
                phone: [
                    { type: 'number', message: '格式为11位数字', trigger: 'blur' },
                    { required: true, type: 'number', message: '请输入电话号码', trigger: 'blur' }],
                qq: [
                    { required: true, type: 'number', message: '请输入qq号码', trigger: 'blur' },
                    { type: 'number', message: '格式为数字', trigger: 'blur' }
                ],
                professional: { required: true, message: '请输入职称', trigger: 'blur' },
                password: { required: true, message: '请输入密码', trigger: 'blur' }
            }
        }
    },
    created() {
        this.queryTeacherList()
    },
    watch: {
        total(val) {
            this.pageGroup = []
            if (val <= 10) {
                this.pageGroup = [5, 10]
            } else {
                const n = val / 10
                for (let i = 0; i < n; i++) {
                    this.pageGroup.push((i + 1) * 10)
                }
            }
        }
    },
    methods: {
        queryTeacherList() {
            const param = {
                pageSize: this.pageSize,
                currentPage: this.currentPage,
                teacherNum: this.teacherForm.teacherNum,
                teacherName: this.teacherForm.teacherName,
                department: this.teacherForm.department,
                degree: this.teacherForm.degree,
                professional: this.teacherForm.professional
            }
            this.$apis.getTeacherList(param).then((res) => {
                if (res.code === 200) {
                    this.teacherList = res.data.list
                    this.total = res.data.total
                }
            }).catch(() => {
                this.$router.push('/404')
            })
        },
        queryAddTeacher() {
            const param = {
                teacherNum: this.teacherInfo.teacherNum,
                teacherName: this.teacherInfo.teacherName,
                department: this.teacherInfo.department,
                degree: this.teacherInfo.degree,
                professional: this.teacherInfo.professional,
                sex: this.teacherInfo.sex,
                phone: this.teacherInfo.phone,
                qq: this.teacherInfo.qq,
                password: this.teacherInfo.password
            }
            this.$apis.addTeacher(param).then((res) => {
                if (res.code === 200) {
                    this.$message({
                        type: 'success',
                        message: '添加成功!'
                    })
                    this.queryTeacherList()
                }
            }).catch(() => {
            })
        },
        queryEditTeacher() {
            const param = {
                teacherId: this.teacherInfo.teacherId,
                teacherNum: this.teacherInfo.teacherNum,
                teacherName: this.teacherInfo.teacherName,
                department: this.teacherInfo.department,
                degree: this.teacherInfo.degree,
                professional: this.teacherInfo.professional,
                sex: this.teacherInfo.sex,
                phone: this.teacherInfo.phone,
                qq: this.teacherInfo.qq,
                password: this.teacherInfo.password
            }
            this.$apis.editTeacher(param).then((res) => {
                if (res.code === 200) {
                    this.$message({
                        type: 'success',
                        message: '修改成功!'
                    })
                    this.queryTeacherList()
                }
            }).catch(() => {
            })
        },
        queryDeleteTeacher() {
            const param = {
                teacherId: this.teacherInfo.teacherId
            }
            this.$apis.deleteTeacher(param).then((res) => {
                if (res.code === 200) {
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    })
                    this.queryTeacherList()
                }
            }).catch(() => {
            })
        },
        addTeacher() {
            this.infoShow = true
            this.isAdd = true
            this.teacherInfo = {}
        },
        viewTeacher(item) {
            this.infoShow = true
            this.teacherInfo = item
            this.isView = true
        },
        onSubmit(formName) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    this.infoShow = false
                    if (this.isAdd) {
                        this.queryAddTeacher()
                        this.isAdd = false
                    } else {
                        this.queryEditTeacher()
                    }
                    this.queryTeacherList()
                } else {
                    return false
                }
            })
        },
        editTeacher(item) {
            this.infoShow = true
            this.teacherInfo = item
        },
        deleteTeacher(item) {
            this.teacherInfo = item
            this.$confirm('确认删除?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.queryDeleteTeacher()
                this.queryTeacherList()
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '已取消删除'
                })
            })
        },
        handleSizeChange(val) {
            this.pageSize = val
            this.queryTeacherList()
        },
        handleCurrentChange(val) {
            this.currentPage = val
            this.queryTeacherList()
        },
        clearSelect() {
            this.teacherForm.teacherNum = ''
            this.teacherForm.teacherName = ''
            this.teacherForm.department = ''
            this.teacherForm.degree = ''
            this.teacherForm.professional = ''
            this.queryTeacherList()
        }
    }
}
</script>

<style lang="less" scoped>
@import './teacher_manage.less';
</style>
