.teacher_manage {
	.teacher_list {
		border: solid 1px rgb(182, 182, 182);
		background: white;
		.handle_box {
			.add_teacher {
				margin: 20px;
			}
			.el-input {
				width: 120px;
				margin-left: 10px;
			}
		}
		.el-pagination {
			width: 420px;
			margin: 10px auto;
		}
	}
	.info_form {
		.el-input {
			width: 240px;
		}
		.button_box {
			display: flex;
			justify-content: center;
			.el-button {
				width: 100px;
			}
		}
	}
}
