<template>
    <div class="commit_paper">
        <item-header content="提交论文"/>
        <div class="upload_file">
            <p class="info">请上传.doc后缀的word文档，上传文档时请添加描述</p>
            <p class="info">稿件可多次上传，最后一次上传的为最终稿</p>
            <el-upload
                accept=".doc"
                method="post"
                enctype="multipart/form-data"
                :http-request="upload"
                action="">
                <el-button type="primary">点击上传</el-button>
            </el-upload>
            <el-input
                type="text"
                v-model="fileDescription"
                placeholder="请输入文件描述信息"/>
        </div>
        <item-header content="论文记录"/>
        <div class="file_list">
            <el-table
                :data="filesTable"
                style="width: 100%">
                <el-table-column
                    prop="ctime"
                    label="提交时间"
                    width="160"/>
                <el-table-column
                    prop="fileDescription"
                    label="论文描述"
                    fit/>
                <el-table-column
                    prop="fileName"
                    label="文件名"
                    fit/>
                <el-table-column
                    label="操作"
                    width="120">
                    <template slot-scope="scope">
                        <el-button @click="downloadFile(scope.row.fileId)" type="text">下载</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </div>
</template>

<script>
export default {
    name: 'CommitPaper',
    created() {
        this.studentNum = Number(localStorage.getItem('account'))
        this.queryFilesList()
    },
    data() {
        return {
            studentNum: '',
            fileDescription: '',
            filesTable: []
        }
    },
    methods: {
        upload(data) {
            const formData = new FormData()
            formData.append('file', data.file)// 传文件
            formData.append('studentNum', this.studentNum)// 携带参数
            formData.append('fileDescription', this.fileDescription)// 携带参数
            this.$confirm('确认上传该文件?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.$apis.upload(formData).then((res) => {
                    if (res.code === 200) {
                        this.$message({
                            type: 'success',
                            message: '上传成功',
                            center: true
                        })
                        this.queryFilesList()
                    }
                }).catch(() => {
                })
            }).catch(() => {
            })
        },
        queryFilesList() {
            const param = {
                studentNum: this.studentNum
            }
            this.$apis.getFilesList(param).then((res) => {
                if (res.code === 200) {
                    this.filesTable = res.data
                    this.filesTable.forEach((item) => {
                        // 格式化时间
                        item.ctime = this.dataFormat.formatterDate(item.ctime)
                    })
                }
            }).catch(() => {
            })
        },
        downloadFile(fileId) {
            this.$confirm('确认下载该文件?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: '下载成功!'
                })
                const url = 'http://localhost:8083/file/download?fileId=' + fileId
                const a = document.createElement('a')
                a.href = url
                a.click()
                document.body.removeChild(a)
            }).catch(() => {
            })
        }
    }
}

</script>

.<style lang="less" scoped>
@import './commit_paper.less';
</style>
