.commit_paper {
	.upload_file {
		border: solid 1px rgb(182, 182, 182);
		background: white;
		padding: 10px;
		.info {
			margin: 5px;
			color: red;
		}
		.el-upload {
			.el-button {
				margin: 10px 20px;
			}
		}
		.el-input {
			margin: 10px 0;
			width: 240px;
		}
	}
	.file_list {
		border: solid 1px rgb(182, 182, 182);
		background: white;
	}
}
