.layout {
	height: 100%;
	.header {
		background: rgb(90, 191, 250);
		height: 40px;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		.title {
			letter-spacing: 20px;
			font-size: 24px;
			color: rgb(237, 255, 132);
			font-weight: 700;
		}
		.menu {
			border-right: solid 1px white;
			height: 40px;
			width: 200px;
			line-height: 40px;
			letter-spacing: 5px;
			color: white;
			background: rgb(90, 191, 250);
			text-align: left;
			img {
				height: 30px;
				width: 40px;
				float: left;
				margin: 5px 10px 0 20px;
			}
		}
		.user {
			width: 200px;
			height: 40px;
			padding-left: 20px;
			position: relative;
			font-size: 12px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.logo_user {
				position: absolute;
				height: 30px;
			}
			.user_info {
				color: white;
				padding-left: 35px;
				text-align: left;
			}
			.el-dropdown {
				span {
					display: block;
					height: 40px;
					line-height: 40px;
					background: rgb(50, 145, 253);
					width: 50px;
				}
			}
			.el-icon-arrow-down:before {
				font-size: 20px;
				margin: 5px;
				color: white;
			}
		}
	}
	.container {
		display: flex;
		height: calc(100% - 40px);
		.aside_menu {
			width: 200px;
			height: calc(100% - 50px);
			.student_menu,
			.teacher_menu {
				height: 100%;
				.menu_title {
					background: rgb(156, 156, 156);
					width: 200px;
					height: 50px;
					line-height: 50px;
					text-align: center;
					color: white;
					letter-spacing: 5px;
				}
				.el-menu {
					height: 100%;
					background: rgb(214, 214, 214);
					border-right: none;
					.el-menu-item {
						border-bottom: 1px solid white;
						color: black;
						font-size: 16px;
					}
					.is-active {
						font-size: 18px;
						color: white;
						background: rgb(127, 127, 128);
					}
					.el-menu-item:hover {
						color: white;
						background: rgb(127, 127, 128);
					}
				}
			}
		}
		.main {
			width: calc(100% - 200px);
			background-color: rgb(241, 241, 241);
			border: 1px solid black;
			padding: 20px;
			overflow-y: scroll;
		}
	}
}
