<template>
    <div class="layout">
        <div class="header">
            <span class="menu">
                <img src="@/assets/images/logo.png">
                毕业设计
            </span>
            <span class="title">毕业设计管理系统</span>
            <div class="user">
                <img class="logo_user" src="@/assets/images/user.png">
                <div class="user_info">
                    <p>编号：{{userAccount}}</p>
                    <p v-text="'职务：('+(userType=='1'?'教师':'学生')+')'"/>
                </div>
                <el-dropdown>
                    <span>
                        <i class="el-icon-arrow-down"/>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>
                            <div @click="goUserInfo()">个人基本信息</div>
                        </el-dropdown-item>
                        <el-dropdown-item>
                            <div @click="resetPassword()">修改密码</div>
                        </el-dropdown-item>
                        <el-dropdown-item>
                            <div @click="exitSystem()">退出系统</div>
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>
        </div>
        <div class="container">
            <div class="aside_menu">
                <div class="student_menu" v-if="userType=='2'">
                    <p class="menu_title">学生菜单</p>
                    <el-menu
                        :router="true"
                        :default-active="crrentPath">
                        <el-menu-item index="/layout/paperlist">
                            <i class="el-icon-s-cooperation"/>
                            <span slot="title">论文列表</span>
                        </el-menu-item>
                        <el-menu-item index="/layout/weeklynotes">
                            <i class="el-icon-s-cooperation"/>
                            <span slot="title">论文周记</span>
                        </el-menu-item>
                        <el-menu-item index="/layout/commitpaper">
                            <i class="el-icon-s-cooperation"/>
                            <span slot="title">论文提交</span>
                        </el-menu-item>
                        <el-menu-item index="/layout/resetpassword">
                            <i class="el-icon-s-cooperation"/>
                            <span slot="title">修改密码</span>
                        </el-menu-item>
                        <el-menu-item>
                            <div @click="exitSystem">
                                <i class="el-icon-s-cooperation"/>
                                <span slot="title">退出系统</span>
                            </div>
                        </el-menu-item>
                    </el-menu>
                </div>
                <div class="teacher_menu" v-if="userType=='1'">
                    <p class="menu_title">教师菜单</p>
                    <el-menu
                        :router="true"
                        :default-active="crrentPath">
                        <el-menu-item index="/layout/papermanage">
                            <i class="el-icon-s-cooperation"/>
                            <span slot="title">论文管理</span>
                        </el-menu-item>
                        <el-menu-item index="/layout/grademanage">
                            <i class="el-icon-s-cooperation"/>
                            <span slot="title">评分管理</span>
                        </el-menu-item>
                        <el-menu-item index="/layout/studentmanage">
                            <i class="el-icon-s-cooperation"/>
                            <span slot="title">学生管理</span>
                        </el-menu-item>
                        <el-menu-item index="/layout/teachermanage">
                            <i class="el-icon-s-cooperation"/>
                            <span slot="title">教师管理</span>
                        </el-menu-item>
                        <el-menu-item index="/layout/resetpassword">
                            <i class="el-icon-s-cooperation"/>
                            <span slot="title">修改密码</span>
                        </el-menu-item>
                        <el-menu-item>
                            <div @click="exitSystem()">
                                <i class="el-icon-s-cooperation"/>
                                <span slot="title">退出系统</span>
                            </div>
                        </el-menu-item>

                    </el-menu>
                </div>
            </div>
            <div class="main">
                <router-view/>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Layout',
    data() {
        return {
            userType: '',
            userAccount: '',
            crrentPath: ''
        }
    },
    mounted() {
        this.userType = localStorage.getItem('islogin')
        this.userAccount = localStorage.getItem('account')
        this.crrentPath = document.location.pathname
    },
    methods: {
        goUserInfo() {
            if (this.$route.path === '/layout/userinfo') {
                this.$router.go(0)
            }
            this.$router.push('/layout/userinfo')
        },
        resetPassword() {
            if (this.$route.path === '/layout/resetpassword') {
                this.$router.go(0)
            }
            this.$router.push('/layout/resetpassword')
        },
        exitSystem() {
            localStorage.setItem('islogin', 0)
            this.$apis.exit().then((res) => {
                if (res.code === 200) {
                    this.$router.push('/login')
                }
            }).catch(() => {
            })
        }
    }
}
</script>

<style lang="less" scoped>
@import './layout.less';
</style>
