.paper_manage {
	.paper_list {
		background: white;
		border: solid 1px rgb(182, 182, 182);
		.el-pagination {
			width: 420px;
			margin: 0 auto;
		}
		.paper_handle {
			padding: 10px;
			.add_paper {
				margin: 10px;
				a {
					color: white;
				}
			}
			.select_paper {
				margin-left: 20px;
				position: relative;
			}
			.select_handle {
				.text {
					width: 160px;
				}
			}
		}
	}
	.info_form {
		.el-input {
			width: 240px;
		}
		.button_box {
			display: flex;
			justify-content: center;
			.el-button {
				width: 100px;
			}
		}
	}
}
