<template>
    <div class="paper_manage">
        <item-header content="论文列表"/>
        <div class="paper_list">
            <div class="paper_handle">
                <el-button type="primary" class="add_paper" @click="addPaper">添加论文</el-button>
                <el-button type="primary"  @click="clearSelect">无条件查询</el-button>
                <div class="select_handle">
                    <el-form
                        ref="form"
                        :inline="true"
                        :model="selectForm"
                        label-width="80px">
                        <el-form-item >
                            <el-input class="text" v-model="selectForm.paperTitle" placeholder="论文题目"/>
                        </el-form-item>
                        <el-form-item >
                            <el-input class="text" v-model="selectForm.paperId" placeholder="论文ID"/>
                        </el-form-item>
                        <el-form-item >
                            <el-select v-model="selectForm.paperType" placeholder="论文性质">
                                <el-option label="实际应用研究" value="实际应用研究"/>
                                <el-option label="理论研究" value="理论研究"/>
                                <el-option label="应用与理论研究" value="应用与理论研究结合"/>
                            </el-select>
                        </el-form-item>
                        <el-form-item >
                            <el-select v-model="selectForm.paperSource" placeholder="论文来源">
                                <el-option label="省部级以上" value="省部级以上"/>
                                <el-option label="横向且有经费" value="横向且有经费"/>
                                <el-option label="自选" value="自选"/>
                                <el-option label="市厅级" value="市厅级"/>
                            </el-select>
                        </el-form-item>
                        <el-form-item >
                            <el-select v-model="selectForm.selectState" placeholder="是否已选">
                                <el-option label="已选" value='已选'/>
                                <el-option label="未选"  value='未选'/>
                            </el-select>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" class="select_paper" @click="queryPaperList">查询论文</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
            <el-table
                :data="paperList"
                :stripe="true"
                style="width: calc(100% - 20px)">
                <el-table-column
                    prop="paperTitle"
                    label="题目名称"
                    fit
                />
                <el-table-column
                    prop="paperSource"
                    label="来源"
                    fit/>
                <el-table-column
                    prop="paperType"
                    label="性质"
                    fit/>
                <el-table-column
                    prop="teacherName"
                    label="教师"
                    width="100"/>
                <el-table-column
                    prop="selectState"
                    label="选择状态"
                    width="60"/>
                <el-table-column label="操作">
                    <template slot-scope="item">
                        <el-button  type="text" @click="viewPaper(item.row)" >查看</el-button>
                        <el-button  type="text" @click="editPaper(item.row)" >编辑</el-button>
                        <el-button  type="text" @click="deletePaper(item.row)" >删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="pageGroup"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total"/>
        </div>
        <el-dialog
            :visible.sync="infoShow"
            @closed="dialogClose"
            :destroy-on-close="true"
            title="论文信息"
            width="700px"
            top="100px"
            center>
            <el-form
                ref="ruleForm"
                :model="paperInfo"
                :rules="rule"
                class="info_form"
                label-width="120px">
                <el-form-item label="论文题目" prop="paperTitle">
                    <el-input v-model="paperInfo.paperTitle" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="类型" prop="paperType">
                    <el-radio-group v-model="paperInfo.paperType" :disabled="isView==true">
                        <el-radio label="实际应用研究">实际应用研究</el-radio>
                        <el-radio label="理论研究">理论研究</el-radio>
                        <el-radio label="应用与理论结合研究">应用与理论结合研究</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="来源" prop="paperSource" >
                    <el-radio-group v-model="paperInfo.paperSource" :disabled="isView==true">
                        <el-radio label="省部级以上" />
                        <el-radio label="横向且有经费"/>
                        <el-radio label="自选"/>
                        <el-radio label="市厅"/>
                    </el-radio-group>
                </el-form-item>
                <el-form-item  label="导师姓名" prop="teacherName" v-if="isView==true">
                    <el-input v-model="paperInfo.teacherName" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="学生学号" prop="studentNum">
                    <el-input v-model.number="paperInfo.studentNum" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="论文要求" prop="paperRequire">
                    <el-input type="textarea" v-model="paperInfo.paperRequire" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="性别" prop="sex" v-if="isView==true">
                    <el-radio-group v-model="paperInfo.sex">
                        <el-radio label="男" :disabled="isView==true"/>
                        <el-radio label="女" :disabled="isView==true"/>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="学位" prop="degree" v-if="isView==true">
                    <el-input v-model="paperInfo.degree" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="职称" prop="professional" v-if="isView==true">
                    <el-input v-model="paperInfo.professional" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="电话号码" prop="phone" v-if="isView==true">
                    <el-input v-model="paperInfo.phone" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="qq号码" prop="qq" v-if="isView==true">
                    <el-input v-model="paperInfo.qq" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="学科部" prop="department" v-if="isView==true">
                    <el-input v-model="paperInfo.department" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item v-if="isAdd==false" label="选择状态" prop="selectState">
                    <el-radio-group v-model="paperInfo.selectState">
                        <el-radio label="已选" :disabled="isView==true"/>
                        <el-radio label="未选" :disabled="isView==true"/>
                    </el-radio-group>
                </el-form-item>
                <div class="button_box">
                    <el-button v-show="isView==false" type="primary" @click="onSubmit('ruleForm')">确认提交</el-button>
                    <el-button @click="infoShow=false" v-text="isView==true?'确认':'取消'"/>
                </div>
            </el-form>
        </el-dialog>
    </div>
</template>

<script>
export default {
    name: 'PaperManage',
    data() {
        return {
            isAdd: false,
            isView: false,
            infoShow: false,
            paperList: [],
            teacherNum: '',
            currentPage: 1,
            pageSize: 10,
            total: 0,
            pageGroup: [],
            paperInfo: {},
            rule: {
                paperTitle: { required: true, message: '请输入论文标题', trigger: 'blur' },
                paperType: { required: true, message: '请选择论文类型', trigger: 'blur' },
                paperSource: { required: true, message: '请选择论文来源', trigger: 'blur' },
                paperRequire: { required: true, message: '请输入论文要求', trigger: 'blur' },
                teacherNum: { required: true, message: '请输入导师工号', trigger: 'blur' },
                studentNum: { required: false, message: '请输入学生学号', trigger: 'blur' },
                selectState: { required: true, message: '请选择选择状态', trigger: 'change' }
            },
            selectForm: {
                paperId: '',
                paperTitle: '',
                paperType: '',
                paperSource: '',
                selectState: ''
            }
        }
    },
    created() {
        this.teacherNum = Number(localStorage.getItem('account'))
        this.queryPaperList()
    },
    watch: {
        total(val) {
            this.pageGroup = []
            if (val <= 10) {
                this.pageGroup = [5, 10]
            } else {
                const n = val / 10
                for (let i = 0; i < n; i++) {
                    this.pageGroup.push((i + 1) * 10)
                }
            }
        }
    },
    methods: {
        queryPaperList() {
            const param = {
                teacherNum: this.teacherNum,
                pageSize: this.pageSize,
                currentPage: this.currentPage,
                paperTitle: this.selectForm.paperTitle,
                paperId: this.selectForm.paperId,
                paperType: this.selectForm.paperType,
                paperSource: this.selectForm.paperSource,
                teacherName: this.selectForm.teacherName,
                selectState: this.selectForm.selectState
            }
            this.$apis.getMyPaperList(param).then((res) => {
                if (res.code === 200) {
                    this.paperList = res.data.list
                    this.total = res.data.total
                }
            }).catch(() => {
                this.$router.push('/404')
            })
        },
        queryAddPaper() {
            const param = {
                teacherNum: this.teacherNum,
                paperTitle: this.paperInfo.paperTitle,
                paperType: this.paperInfo.paperType,
                paperSource: this.paperInfo.paperSource,
                studentNum: this.paperInfo.studentNum,
                paperRequire: this.paperInfo.paperRequire
            }
            this.$apis.addPaper(param).then((res) => {
                if (res.code === 200) {
                    this.$message({
                        type: 'success',
                        message: '添加成功!'
                    })
                    this.queryPaperList()
                }
            }).catch(() => {})
        },
        queryEditPaper() {
            const param = {
                paperId: this.paperInfo.paperId,
                paperTitle: this.paperInfo.paperTitle,
                paperType: this.paperInfo.paperType,
                paperSource: this.paperInfo.paperSource,
                selectState: this.paperInfo.selectState,
                paperRequire: this.paperInfo.paperRequire,
                studentNum: this.paperInfo.studentNum

            }
            this.$apis.editPaper(param).then((res) => {
                if (res.code === 200) {
                    this.$message({
                        type: 'success',
                        message: '修改成功!'
                    })
                }
            }).catch(() => {})
        },
        queryDeletePaper() {
            const param = {
                paperId: this.paperInfo.paperId
            }
            this.$apis.deletePaper(param).then((res) => {
                if (res.code === 200) {
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    })
                    this.queryPaperList()
                }
            }).catch(() => {
            })
        },
        handleSizeChange(val) {
            this.pageSize = val
            this.queryPaperList()
        },
        handleCurrentChange(val) {
            this.currentPage = val
            this.queryPaperList()
        },
        viewPaper(item) {
            this.infoShow = true
            this.isView = true
            this.paperInfo = item
        },
        editPaper(item) {
            this.infoShow = true
            this.paperInfo = item
        },
        addPaper() {
            this.isAdd = true
            this.infoShow = true
            this.paperInfo = {}
        },
        deletePaper(item) {
            this.paperInfo = item
            this.$confirm('确认删除?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.queryDeletePaper()
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '已取消删除'
                })
            })
        },
        onSubmit(formName) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    this.infoShow = false
                    if (this.isAdd) {
                        this.queryAddPaper()
                        this.isAdd = false
                    } else {
                        this.queryEditPaper()
                    }
                    this.queryPaperList()
                } else {
                    return false
                }
            })
        },
        dialogClose() {
            this.isAdd = false
            this.isView = false
            this.paperInfo = {}
        },
        clearSelect() {
            this.selectForm.paperId = ''
            this.selectForm.paperTitle = ''
            this.selectForm.paperType = ''
            this.selectForm.paperSource = ''
            this.selectForm.selectState = ''
            this.queryPaperList()
        }
    }
}
</script>

<style lang="less" scoped>
@import './paper_manage.less';
</style>
