<template>
    <div class="grade_manage">
        <item-header content="论文评阅"/>
        <div class="paper_list">
            <el-table
                :data="paperList"
                :stripe="true"
                border
                max-height="600px"
                style="width: 100%">
                <el-table-column
                    prop="paperId"
                    label="论文ID"
                    width="100"/>
                <el-table-column
                    prop="studentNum"
                    label="学生学号"
                    fit/>
                <el-table-column
                    prop="paperTitle"
                    label="论文题目"
                    fit/>
                <el-table-column
                    prop="studentName"
                    label="学生姓名"
                    width="100"/>
                <el-table-column
                    prop="paperScore"
                    label="论文分数"
                    width="100"
                />
                <el-table-column label="操作">
                    <template slot-scope="item" >
                        <el-button  type="text" @click="downlaodPaper(item.row.studentNum)" >下载论文</el-button>
                        <el-button  type="text" @click="markPaper(item.row)" >论文评分</el-button>
                        <el-button  type="text" @click="viewNote(item.row)" ><a href="#1">查看周记</a> </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="pageGroup"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total"/>
        </div>
        <item-header content="周记评阅" id="1" v-show="noteShow==true"/>
        <div class="weeklynotes_list paper_list" v-show="noteShow==true">
            <el-table
                :data="weeklyNotesList"
                :stripe="true"
                border
                style="width: 100%">
                <el-table-column
                    prop="noteId"
                    label="周记ID"
                    width="100"/>
                <el-table-column
                    prop="ctime"
                    label="创建时间"
                    width="160"/>
                <el-table-column
                    prop="noteContent"
                    label="周记内容"
                    fit/>
                <el-table-column
                    prop="noteEvaluate"
                    label="教师评价"
                    fit/>
                <el-table-column label="操作" width="120">
                    <template slot-scope="item" >
                        <el-button  type="text" @click="evaluateNote(item.row)"><a href="#2">评价周记</a></el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <item-header content="填写评价" id="2" v-show="evaluateShow==true"/>
        <div class="note_evaluate" v-show="evaluateShow==true">
            <el-input
                :rows="3"
                maxlength="40"
                show-word-limit
                type="textarea"
                v-model="noteEvaluate"/>
            <el-button type="primary" @click="commitNoteEvaluate">确认评价</el-button>
        </div>
        <item-header content="论文记录" v-show="fileShow==true"/>
        <div class="file_list" v-show="fileShow==true">
            <el-table
                :data="filesTable"
                style="width: 100%">
                <el-table-column
                    prop="ctime"
                    label="提交时间"
                    width="160"/>
                <el-table-column
                    prop="fileDescription"
                    label="论文描述"
                    fit/>
                <el-table-column
                    prop="fileName"
                    label="文件名"
                    fit/>
                <el-table-column
                    label="操作"
                    width="120">
                    <template slot-scope="scope">
                        <el-button @click="downloadFile(scope.row.fileId)" type="text">下载</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </div>
</template>

<script>
export default {
    name: 'GradeManage',
    data() {
        return {
            paperList: [],
            studentNum: '',
            teacherNum: '',
            noteEvaluate: '',
            noteId: 12332,
            noteShow: false,
            fileShow: false,
            evaluateShow: false,
            pageSize: 10,
            currentPage: 1,
            total: 0,
            pageGroup: [],
            weeklyNotesList: [],
            filesTable: []
        }
    },
    created() {
        this.teacherNum = Number(localStorage.getItem('account'))
        this.queryPaperScoreList()
    },
    watch: {
        total(val) {
            this.pageGroup = []
            if (val <= 10) {
                this.pageGroup = [5, 10]
            } else {
                const n = val / 10
                for (let i = 0; i < n; i++) {
                    this.pageGroup.push((i + 1) * 10)
                }
            }
        }
    },
    methods: {
        commitNoteEvaluate() {
            const param = {
                noteId: this.noteId,
                noteEvaluate: this.noteEvaluate
            }
            this.$apis.addNoteEvaluate(param).then((res) => {
                if (res.code === 200) {
                    this.$message({
                        type: 'success',
                        message: '添加成功'

                    })
                    this.evaluateShow = false
                    this.queryNoteList()
                }
            }).catch(() => {})
        },
        viewNote(item) {
            this.studentNum = item.studentNum
            this.noteShow = true
            this.queryNoteList()
        },
        markPaper(item) {
            this.paperId = item.paperId
            this.$prompt('请输入论文分数', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                inputPattern: /^([1-9]\d?|100)$/,
                inputErrorMessage: '分数为0 ~ 100分'
            }).then(({ value }) => {
                this.queryMarkPaper(value)
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '取消打分'
                })
            })
        },
        downlaodPaper(number) {
            this.fileShow = true
            this.studentNum = number
            this.queryFilesList()
        },
        evaluateNote(item) {
            this.evaluateShow = true
            this.noteEvaluate = item.noteEvaluate
            this.noteId = item.noteId
        },
        queryMarkPaper(val) {
            const param = {
                paperScore: val,
                paperId: this.paperId
            }
            this.$apis.markPaperScore(param).then((res) => {
                if (res.code === 200) {
                    this.$message({
                        type: 'success',
                        message: '打分成功'
                    })
                    this.queryPaperScoreList()
                }
            }).catch(() => {
            })
        },
        queryPaperScoreList() {
            const param = {
                teacherNum: this.teacherNum,
                pageSize: this.pageSize,
                currentPage: this.currentPage
            }
            this.$apis.getPaperScoreList(param).then((res) => {
                if (res.code === 200) {
                    this.paperList = res.data.list
                    this.total = res.data.total
                }
            }).catch(() => {})
        },
        queryNoteList() {
            const param = {
                studentNum: this.studentNum
            }
            console.log(param)
            this.$apis.getNotesList(param).then((res) => {
                if (res.code === 200) {
                    this.weeklyNotesList = res.data.list
                    this.weeklyNotesList.forEach((item) => {
                        // 格式化时间
                        item.ctime = this.dataFormat.formatterDate(item.ctime)
                    })
                }
            }).catch(() => {
            })
        },
        queryFilesList() {
            const param = {
                studentNum: this.studentNum
            }
            this.$apis.getFilesList(param).then((res) => {
                if (res.code === 200) {
                    this.filesTable = res.data
                    this.filesTable.forEach((item) => {
                        // 格式化时间
                        item.ctime = this.dataFormat.formatterDate(item.ctime)
                    })
                }
            }).catch(() => {
            })
        },
        downloadFile(fileId) {
            this.$confirm('确认下载该文件?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: '下载成功!'
                })
                const url = 'http://localhost:8083/file/download?fileId=' + fileId
                const a = document.createElement('a')
                a.href = url
                a.click()
                document.body.removeChild(a)
            }).catch(() => {
            })
        },
        handleSizeChange(val) {
            this.pageSize = val
            this.queryPaperList()
        },
        handleCurrentChange(val) {
            this.currentPage = val
            this.queryPaperList()
        }
    }
}
</script>

<style lang="less" scoped>
@import './grade_manage.less';
</style>
