.grade_manage {
	.paper_list {
		border: solid 1px rgb(182, 182, 182);
		background: white;
		.el-table {
			font-size: 13px;
		}
		.el-pagination {
			width: 400px;
			margin: 10px auto;
		}
	}
	.weeklynotes_list {
		border: solid 1px rgb(182, 182, 182);
		background: white;
	}
	.note_evaluate {
		border: solid 1px rgb(182, 182, 182);
		background: white;
		.el-textarea {
			display: block;
			width: 800px;
			margin: 20px auto;
		}
		.el-button {
			display: block;
			width: 140px;
			margin: 20px auto;
		}
	}
	.file_list {
		border: solid 1px rgb(182, 182, 182);
		background: white;
	}
}
