.reset_password {
	.box {
		background-color: white;
		position: relative;
		border: 1px solid rgb(182, 182, 182);
		padding-top: 20px;
		.title {
			position: absolute;
			top: -32px;
			font-size: 16px;
			height: 30px;
			line-height: 30px;
			width: 90px;
			left: -1px;
			text-align: center;
			border: solid 1px rgb(3, 196, 255);
			border-bottom: none;
			border-radius: 8px 8px 0 0;
			background: white;
		}
		.el-input {
			width: 300px;
		}
		.warning {
			height: 40px;
			color: red;
			font-size: 14px;
		}
	}
}
