<template>
    <div class="reset_password">
        <item-header content="修改密码"/>
        <div class="box">
            <el-form
                :model="form"
                :rules="rule"
                ref="form"
                label-width="100px"
                class="form"
            >
                <el-form-item label="用户名" prop="userName">
                    <el-input
                        disabled
                        v-model="form.userName"
                        placeholder="请输入学号或工号"
                    />
                </el-form-item>
                <el-form-item label="新密码" prop="newPassword">
                    <el-input v-model="form.newPassword" placeholder="请输入新密码" show-password/>
                </el-form-item>
                <el-form-item prop="confirmPasswrod" label="确认密码">
                    <el-input v-model="form.confirmPasswrod" placeholder="请再次输入新密码" show-password/>
                </el-form-item>
                <el-form-item class="warning">
                    <p v-show="warningShow">两次输入的密码不一致，请重新输入</p>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitNewPassword('form')">确认修改</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ResetPassword',
    data() {
        return {
            form: {
                userName: '',
                newPassword: '',
                confirmPasswrod: '',
                userType: ''
            },
            rule: {
                newPassword: [
                    { required: true, message: '请输入新密码', trigger: 'blur' }
                ],
                confirmPasswrod: [
                    { required: true, message: '请再次输入新密码', trigger: 'blur' }
                ]
            },
            warningShow: false
        }
    },
    mounted() {
        const account = localStorage.getItem('account')
        this.userType = localStorage.getItem('islogin')
        this.form.userName = Number(account)
    },
    methods: {
        submitNewPassword(formName) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    if (this.form.newPassword === this.form.confirmPasswrod) {
                        this.warningShow = false
                        // 提交
                        if (this.userType === '2') {
                            this.resetStudentPassword()
                        }
                        if (this.userType === '1') {
                            this.resetTeacherPassword()
                        }
                    } else {
                        this.warningShow = true
                    }
                } else {
                    return false
                }
            })
        },
        resetStudentPassword() {
            const param = {
                studentNum: this.form.userName,
                passwordSite: this.form.newPassword
            }
            this.$apis.resetStudentPassword(param).then((res) => {
                if (res.code === 200) {
                    if (res.data) {
                        this.$message({
                            type: 'success',
                            message: '修改成功!'
                        })
                    }
                }
            }).catch(() => {
            })
        },
        resetTeacherPassword() {
            const params = {
                teacherNum: this.form.userName,
                passwordSite: this.form.newPassword
            }
            this.$apis.resetTeacherPassword(params).then((res) => {
                if (res.code === 200) {
                    if (res.data) {
                        this.$message({
                            type: 'success',
                            message: '修改成功!'
                        })
                    }
                }
            }).catch(() => {
            })
        }
    }
}
</script>

<style lang="less" scoped>
@import './resetPassword.less';
</style>
