<template>
    <div class="user_info">
        <item-header content="个人信息"/>
        <div class="form">
            <el-form
                ref="form"
                :model="form"
                label-width="80px">
                <el-form-item label="学号" v-if='userType=="2"'>
                    <el-input v-model="form.studentNum" disabled/>
                </el-form-item>
                <el-form-item label="教师号" v-if='userType=="1"'>
                    <el-input v-model="form.teacherNum" disabled/>
                </el-form-item>
                <el-form-item label="姓名" >
                    <el-input v-if='userType=="2"' v-model="form.studentName" disabled/>
                    <el-input v-if='userType=="1"' v-model="form.teacherName" disabled/>
                </el-form-item>

                <el-form-item label="性别">
                    <el-radio-group v-model="form.sex" >
                        <el-radio label="男">男</el-radio>
                        <el-radio label="女">女</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="职称" v-if='userType=="1"'>
                    <el-input v-model="form.professional"/>
                </el-form-item>
                <el-form-item label="学位" v-if='userType=="1"'>
                    <el-input v-model="form.degree" />
                </el-form-item>
                <el-form-item label="学科部" v-if='userType=="1"'>
                    <el-input v-model="form.department" />
                </el-form-item>
                <el-form-item label="专业" v-if='userType=="2"'>
                    <el-input v-model="form.domain" disabled/>
                </el-form-item>
                <el-form-item label="班级" v-if='userType=="2"'>
                    <el-input v-model="form.grade" />
                </el-form-item>
                <el-form-item label="电话号码"  >
                    <el-input v-model="form.phone" />
                </el-form-item>
                <el-form-item label="QQ号码" >
                    <el-input v-model="form.qq"/>
                </el-form-item>
                <el-form-item label="入学年份"  v-if='userType=="2"'>
                    <el-input v-model="form.enrollmentYear"/>
                </el-form-item>
                <el-form-item label="论文导师"  v-if='userType=="2"'>
                    <el-input v-model="form.teacherName" disabled/>
                </el-form-item>
                <el-form-item >
                    <el-button type="primary" @click="confrimEdit">确认修改</el-button>
                    <el-button @click="cancel" type="info">取消返回</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</template>

<script>
export default {
    name: 'userInfo',
    data() {
        return {
            userType: '',
            form: {},
            studentNum: '',
            teacherNum: ''
        }
    },
    created() {
        this.userType = localStorage.getItem('islogin')
        if (this.userType === '2') {
            this.studentNum = Number(localStorage.getItem('account'))
            this.queryStudentInfo()
            console.log(this.studentNum)
        }
        if (this.userType === '1') {
            this.teacherNum = Number(localStorage.getItem('account'))
            this.queryTeacherInfo()
        }
    },
    methods: {
        cancel() {
            this.$router.go(0)
        },
        queryStudentInfo() {
            const param = {
                studentNum: this.studentNum

            }
            this.$apis.getStudentInfo(param).then((res) => {
                if (res.code === 200) {
                    this.form = res.data
                }
            }).catch(() => {
            })
        },
        queryTeacherInfo() {
            const param = {
                teacherNum: this.teacherNum
            }
            this.$apis.getTeacherInfo(param).then((res) => {
                if (res.code === 200) {
                    this.form = res.data
                }
            }).catch(() => {
            })
        },
        commitStudentInfo() {
            const param = {
                studentNum: this.form.studentNum,
                grade: this.form.grade,
                sex: this.form.sex,
                enrollmentYear: this.form.enrollmentYear,
                phone: this.form.phone,
                qq: this.form.qq
            }
            this.$apis.commitStudentInfo(param).then((res) => {
                if (res.code === 200) {
                    alert('修改成功')
                }
            }).catch(() => {
            })
        },
        commitTeacherInfo() {
            const param = {
                teacherNum: this.teacherNum,
                teacherName: this.form.teacherName,
                sex: this.form.sex,
                department: this.form.department,
                phone: this.form.phone,
                professional: this.form.professional,
                degree: this.form.degree,
                qq: this.form.qq
            }
            this.$apis.editTeacher(param).then((res) => {
                if (res.code === 200) {
                    alert('修改成功')
                }
            }).catch(() => {
            })
        },
        confrimEdit() {
            if (this.userType === '2') {
                this.commitStudentInfo()
            }
            if (this.userType === '1') {
                this.commitTeacherInfo()
            }
        }
    }
}
</script>

<style lang="less" scoped>
@import './userInfo.less';
</style>
