.paper_list,
.weekly_notes,
.student_manage,
.teacher_manage,
.commit_paper,
.grade_manage {
	.el-table {
		.el-table__body td,
		.el-table__header tr th {
			padding: 0;
			text-align: center;
			.cell {
				padding: 0;
			}
		}
		.el-table__header tr th {
			background: rgba(196, 196, 196, 0.4);
			color: #000;
		}
		.el-table__row td .cell {
			white-space: nowrap;
		}
	}
}
.paper_manage,
.student_manage,
.teacher_manage {
	.el-table {
		margin: 10px;
		border: solid 1px black;
	}
	.el-form {
		.el-input {
			width: 140px;
			.el-input__inner {
				&::placeholder {
					color: #696969;
				}
				&::-webkit-input-placeholder {
					/* Chrome/Opera/Safari */
					color: #696969;
				}
				&:-moz-placeholder {
					/* Mozilla Firefox 4 to 18 适配火狐 */
					color: #696969;
					/* 设置opacity  解决firefox不生效问题 */
					opacity: 1;
				}
				&::-moz-placeholder {
					/* Mozilla Firefox 19+ 适配火狐 */
					color: #696969;
					opacity: 1;
				}
				&:-ms-input-placeholder {
					/* Internet Explorer 10+  适配ie*/
					color: #696969;
				}
			}
		}
	}
}
