body,
html {
	user-select: none;
	height: 100%;
}
body {
	overflow: auto;
}
body,
html,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
span,
a,
input,
div {
	margin: 0;
	padding: 0;
}
address,
cite,
dfn,
em,
var,
i {
	font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}
a {
	text-decoration: none;
	color: #4d6dad;
}
a,
input[type="input"],
input[type="button"] {
	cursor: pointer;
}
a:hover {
	background-color: unset;
}
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
fieldset,
img {
	border: 0;
}
