<template>
    <div class="item_header">
        <p>{{content}}</p>
    </div>
</template>

<script>
export default {
    name: 'ItemHeader',
    props: {
        content: {
            type: String,
            default: ''
        }
    }
}
</script>

<style lang="less" scoped>
.item_header{
    margin: 10px 0 0 0;
    width:80px;
    line-height: 28px;
    height: 28px;
    text-align: center;
    background-image:radial-gradient(white,rgba(211, 211, 211, 0.4)) ;
    border-radius: 5px 5px 0 0;
    border: solid 1px rgb(182, 182, 182);
}
</style>
