<template>
    <div class="pagination">
        <div>
            <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="pageGroup"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total"/>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Pagination',
    methods: {},
    props: {
        total: {
            type: Number,
            default: 10
        },
        pageSize: {
            type: Number,
            default: 10
        },
        currentPage: {
            type: Number,
            default: 1
        }
    },
    mounted() {
        this.pageGroup = []
        if (this.total <= 10) {
            this.pageGroup = [5, 10]
        } else {
            const n = this.total / 10
            for (let i = 0; i < n; i++) {
                this.pageGroup.push((i + 1) * 10)
            }
        }
    },
    data() {
        return {
            pageGroup: []
        }
    }
}
</script>
