<template>
    <div class="login">
        <div class="login_box">
            <el-form
                :model="ruleForm"
                :rules="rules"
                ref="ruleForm"
                label-width="100px"
                hide-required-asterisk
                class="from"
            >
                <p class="title">毕业设计管理系统</p>
                <el-form-item label="用户名" prop="userName" >
                    <el-input v-model.number="ruleForm.userName"  placeholder="请输入学号或工号" clearable/>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                    <el-input v-model="ruleForm.password" placeholder="请输入密码" show-password/>
                </el-form-item>
                <p class="tips">{{tips}}</p>
                <el-form-item prop="userType" >
                    <el-radio-group v-model="ruleForm.userType">
                        <el-radio label="教师"/>
                        <el-radio label="学生"/>
                    </el-radio-group>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm')">登录</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Login',
    data() {
        return {
            tips: '',
            ruleForm: {
                userName: '',
                password: '',
                userType: ''
            },
            rules: {
                userName: [
                    { required: true, message: '请输入学号或工号', trigger: 'blur' },
                    { type: 'number', message: '请输入数字', trigger: 'blur' }
                ],
                password:
                    { required: true, message: '请输入密码', trigger: 'blur' },
                userType:
                    { required: true, message: '请选择用户类型', trigger: 'change' }

            }
        }
    },
    methods: {
        submitForm(formName) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    this.login()
                } else {
                    return false
                }
            })
        },
        login() {
            const param = {
                userAccount: this.ruleForm.userName,
                password: this.ruleForm.password,
                standing: this.ruleForm.userType
            }
            this.$apis.login(param).then((res) => {
                if (res.code === 200) {
                    if (res.data.standing === '教师' || res.data.standing === '学生') {
                        localStorage.setItem('account', this.ruleForm.userName)
                        if (this.ruleForm.userType === '教师') {
                            localStorage.setItem('islogin', 1)
                        }
                        if (this.ruleForm.userType === '学生') {
                            localStorage.setItem('islogin', 2)
                        }
                        this.$router.push('/layout')
                    } else {
                        this.tips = res.data
                    }
                }
            }).catch(() => {
            })
        }
    }
}
</script>

<style lang="less" scoped>
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url("../../assets/images/bg.jpeg");
    background-size:100% 100%;
    background-repeat: no-repeat;
    .login_box{
        height: 400px;
        width: 500px;
        border: 2px solid rgb(0, 204, 255);
        border-radius: 10px;
        background: rgb(221, 250, 255);
        .from{
            position: relative;
            .title{
                font-size: 30px;
                text-align: center;
                margin: 40px 0;
            }
            .el-input{
                width: 240px;
            }
            .el-form-item{
                margin-left:40px;
                .el-button{
                    width: 100px;
                    margin-left: 60px;
                }
            }
            .tips{
                position: absolute;
                color: red;
                font-size: 14px;
                left: 140px;
                bottom: 100px;
            }
        }

    }
}
</style>
