.weekly_notes {
	.commit_note {
		border: solid 1px rgb(182, 182, 182);
		background: white;
		padding-left: 10px;
		height: 240px;
		.tips {
			color: blue;
		}
		.info {
			margin: 10px 0;
			color: red;
			span {
				padding: 0 10px;
				color: red;
				font-size: large;
				font-weight: bold;
			}
		}
		.el-textarea {
			display: block;
			width: 400px;
			margin: 0 auto;
		}
		.el-button {
			display: block;
			width: 120px;
			margin: 0 auto;
			margin-top: 20px;
		}
	}
	.weekly_note_list {
		border: solid 1px rgb(182, 182, 182);
	}
	.note_info {
		border: solid 1px rgb(182, 182, 182);
		background: white;
		table {
			border-collapse: collapse;
			width: 100%;
			overflow: hidden;
			tr td {
				border: 1px solid black;
			}
			.time {
				width: 120px;
			}
			.th {
				font-weight: 600;
			}
		}
	}
}
