<template>
    <div class="weekly_notes">
        <item-header content="提交周记"/>
        <div class="commit_note">
            <p class="tips">
                请认真填写周记，提交后不能修改。
            </p>
            <p class="tips">
                周记主要描述当前周次中已完成的毕业设计工作以及下周次准备实施的工作。周记内容30字以内
            </p>
            <el-input
                type="textarea"
                rows="2"
                v-model="weeklyNote"
                placeholder="请写作周记"
                maxlength="30"
                show-word-limit/>
            <el-button type="primary" @click="commitNote()">提交周记</el-button>
        </div>
        <item-header content="周记列表"/>
        <div class="weekly_note_list">
            <el-table
                :data="weeklyNotesList"
                :stripe="true"
                max-height="400px"
                style="width: 100%">
                <el-table-column
                    label="序号"
                    width="60"
                    type="index"
                />
                <el-table-column
                    prop="ctime"
                    label="提交日期"
                    width="160"/>
                <el-table-column
                    prop="noteContent"
                    label="周记内容"
                    fit/>
                <el-table-column
                    prop="noteEvaluate"
                    label="教师评阅"
                    fit/>

            </el-table>
        </div>
    </div>
</template>

<script>
export default {
    name: 'WeeklyNotes',
    data() {
        return {
            commitTime: '',
            toToday: '5',
            weeklyNote: '',
            infoShow: false,
            studentNum: '',
            weeklyNotesList: [],
            oder: 1
        }
    },
    watch: {
        noteInfo(val) {
            if (val === null || val === {}) {
                this.infoShow = false
            } else {
                this.infoShow = true
            }
        }
    },
    created() {
        this.studentNum = Number(localStorage.getItem('account'))
        this.getWeeklyNotesList()
    },

    methods: {
        viewInfo(item) {
            this.noteInfo = item
        },
        commitNote() {
            if (this.toToday <= 5) {
                this.$message({
                    type: 'warning',
                    message: '提交周记时间至少间隔一周'
                })
            } else if (this.weeklyNote !== '') {
                const param = {
                    studentNum: this.studentNum,
                    noteContent: this.weeklyNote
                }
                this.$apis.addNote(param).then((res) => {
                    if (res.code === 200) {
                        this.$message({
                            type: 'success',
                            message: '添加成功'
                        })
                    }
                    this.getWeeklyNotesList()
                }).catch(() => {})
            } else {
                this.$message({
                    type: 'warning',
                    message: '请添加内容'
                })
            }
        },
        getWeeklyNotesList() {
            const param = {
                studentNum: this.studentNum
            }
            this.$apis.getMyNoteList(param).then((res) => {
                if (res.code === 200) {
                    this.weeklyNotesList = res.data.list
                    this.commitTime = this.weeklyNotesList[this.weeklyNotesList.length - 1].ctime
                    this.weeklyNotesList.forEach((item) => {
                        // 格式化时间
                        item.ctime = this.dataFormat.formatterDate(item.ctime)
                    })
                    const now = new Date().getTime()
                    this.toToday = now - Number(this.commitTime) * 1000
                    this.toToday = new Date(this.toToday).getDate()
                    this.commitTime = this.dataFormat.formatterDate(this.commitTime)
                }
            }).catch(() => {})
        }
    }
}
</script>

<style lang="less" scoped>
@import './weekly_notes.less';
</style>
