<template>
    <div class="paper_list">
        <item-header content="论文列表"/>
        <div class="paper_table">
            <el-table
                :data="paperList"
                :stripe="true"
                max-height="600px"
                style="width: 100%">
                <el-table-column
                    prop="paperTitle"
                    label="题目名称"
                    fit
                />
                <el-table-column
                    prop="paperSource"
                    label="来源"
                    fit/>
                <el-table-column
                    prop="paperType"
                    label="性质"
                    fit/>
                <el-table-column
                    prop="teacherName"
                    label="教师"
                    width="100"/>
                <el-table-column
                    prop="selectState"
                    label="选择状态"
                    width="60"/>
                <el-table-column label="操作" width="100">
                    <template slot-scope="item">
                        <el-button  type="text" @click="viewInfo(item.row)" >查看详情</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="pageGroup"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total"/>
        <item-header content="我的选题"/>
        <div class="my_paper">
            <p class="tips">
                如果列表内容为空表示还未选择论文题目，或选择的论文题目导师审核不通过，请重新选题！！
            </p>
            <el-table
                :data="myPaper"
                style="width: 100%"
            >
                <el-table-column
                    prop="paperTitle"
                    label="题目名称"
                    fit
                />
                <el-table-column
                    prop="paperSource"
                    label="来源"
                    width="80"/>
                <el-table-column
                    prop="paperType"
                    label="性质"
                    fit/>
                <el-table-column
                    prop="teacherName"
                    label="教师"
                    width="100"/>
                <el-table-column
                    prop="selectState"
                    label="审核状态"
                    fit/>
                <el-table-column label="操作" fit>
                    <template slot-scope="item">
                        <el-button  type="text" @click="viewInfo(item.row)" >查看</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <item-header content="题目详情" v-show="infoShow"/>
        <div class="paper_info" v-show="infoShow">
            <div class="info_table">
                <table>
                    <tr>
                        <td class="title">*题目名称</td>
                        <td colspan="5">{{paperInfo.paperTitle}}</td>
                    </tr>
                    <tr>
                        <td class="title">*题目来源</td>
                        <td colspan="3">
                            <el-radio-group :value="paperInfo.paperSource">
                                <el-radio label="省部级以上">省部级以上</el-radio>
                                <el-radio label="横向且有经费">横向且有经费</el-radio>
                                <el-radio label="自选">自选</el-radio>
                                <el-radio label="市厅">市厅</el-radio>
                            </el-radio-group>
                        </td>
                        <td class="title">毕设地点</td>
                        <td>校内</td>
                    </tr>
                    <tr>
                        <td class="title">*题目类型</td>
                        <td colspan="5">
                            <el-radio-group :value="paperInfo.paperType">
                                <el-radio label="实际应用研究">实际应用研究</el-radio>
                                <el-radio label="理论研究">理论研究</el-radio>
                                <el-radio label="应用与理论结合研究">应用与理论结合研究</el-radio>
                            </el-radio-group>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">导师姓名</td>
                        <td>{{paperInfo.teacherName}}</td>
                        <td class="title">性别</td>
                        <td>{{paperInfo.sex}}</td>
                        <td class="title">职称</td>
                        <td>{{paperInfo.professional}}</td>
                    </tr>
                    <tr>
                        <td class="title">联系电话</td>
                        <td>{{paperInfo.phone}}</td>
                        <td class="title">QQ</td>
                        <td>{{paperInfo.qq}}</td>
                        <td class="title">所属系别</td>
                        <td>{{paperInfo.department}}</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="paper_require">
                            专业要求：
                            <input type="textarea" :value="paperInfo.paperRequire" disabled>
                        </td>
                    </tr>
                </table>
                <el-button
                    type="primary"
                    class="commit_paper_btn"
                    @click="confrimPaper"
                    v-text="paperInfo.selectState=='已选'?'题目已选择':'选择该题目'"
                    :disabled="paperInfo.selectState=='已选'"/>

            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'PaperList',
    data() {
        return {
            paperList: [],
            myPaper: [],
            paperInfo: {},
            studentNum: '',
            currentPage: 1,
            pageSize: 10,
            total: 0,
            pageGroup: [],
            infoShow: false
        }
    },
    created() {
        this.studentNum = Number(localStorage.getItem('account'))
        this.queryPaperList()
        this.queryMyPaper()
    },
    watch: {
        total(val) {
            this.pageGroup = []
            if (val <= 10) {
                this.pageGroup = [5, 10]
            } else {
                const n = val / 10
                for (let i = 0; i < n; i++) {
                    this.pageGroup.push((i + 1) * 10)
                }
            }
        }
    },
    methods: {
        viewInfo(item) {
            this.paperInfo = item
            this.infoShow = true
        },
        confrimPaper() {
            const param = {
                studentNum: this.studentNum,
                paperId: this.paperInfo.paperId
            }
            this.$apis.checkPaper(param).then((res) => {
                if (res.code === 200) {
                    if (res.data === '你已选择论文题目') {
                        this.$message({
                            type: 'warning',
                            message: res.data
                        })
                    } else {
                        this.$message({
                            type: 'success',
                            message: '选择成功'
                        })
                        this.queryPaperList()
                        this.queryMyPaper()
                    }
                }
            }).catch(() => {
            })
        },
        handleSizeChange(val) {
            this.pageSize = val
            this.queryPaperList()
        },
        handleCurrentChange(val) {
            this.currentPage = val
            this.queryPaperList()
        },
        queryPaperList() {
            const param = {
                studentNum: this.studentNum,
                pageSize: this.pageSize,
                currentPage: this.currentPage
            }
            this.$apis.getPaperList(param).then((res) => {
                if (res.code === 200) {
                    this.paperList = res.data.list
                    this.total = res.data.total
                }
            }).catch(() => {
            })
        },
        queryMyPaper() {
            this.myPaper = []
            const param = {
                studentNum: this.studentNum
            }
            this.$apis.myPaper(param).then((res) => {
                if (res.code === 200) {
                    if (res.data !== '暂未选择论文') {
                        this.myPaper = Array(res.data)
                    }
                }
            }).catch(() => {
            })
        }
    }
}
</script>

<style lang="less" scoped>
@import './paperList.less';
</style>
