.paper_list {
	.paper_table {
		border: solid 1px rgb(182, 182, 182);
		.el-table {
			font-size: 13px;
		}
	}
	.my_paper {
		background: white;
		border: solid 1px rgb(182, 182, 182);
		.tips {
			color: red;
		}
	}
	.el-pagination {
		width: 460px;
		margin: 0 auto;
	}
	.info_table {
		border: solid 1px rgb(182, 182, 182);
		font-size: 14px;
		background: white;
		padding: 5px;
		table {
			border-collapse: collapse;
			width: 100%;
			overflow: hidden;

			td {
				border: 1px solid black;
			}
			.title {
				text-align: right;
				font-weight: bold;
			}

			tr {
				height: 30px;
				line-height: 30px;
			}
			td {
				width: 60px;
				padding: 0 20px;
			}
			.paper_require {
				height: 140px;
				vertical-align: top;
				input[type="textarea"] {
					display: block;
					height: 90px;
					width: 100%;
				}
			}
		}
		.commit_paper_btn {
			margin: 10px 0 10px 50%;
			width: 120px;
			transform: translateX(-60px);
		}
	}
}
