<template>
    <div class="student_manage">
        <item-header content="学生列表"/>
        <div class="student_list">
            <div class="handle_box">
                <el-button type="primary" class="add_student" @click="addStudent">添加学生</el-button>
                <el-button type="primary"  @click="clearSelect">无条件查询</el-button>
                <div class="select_handle">
                    <el-form
                        ref="form"
                        :inline="true"
                        :model="studentForm"
                    >
                        <el-form-item >
                            <el-input class="text" v-model.number="studentForm.studentNum" placeholder="学号"/>
                        </el-form-item>
                        <el-form-item >
                            <el-input class="text" v-model="studentForm.studentName" placeholder="姓名"/>
                        </el-form-item>
                        <el-form-item >
                            <el-input class="text" v-model="studentForm.grade" placeholder="班级"/>
                        </el-form-item>
                        <el-form-item >
                            <el-input class="text" v-model="studentForm.domain" placeholder="专业"/>
                        </el-form-item>
                        <el-form-item >
                            <el-input class="text" v-model.number="studentForm.teacherNum" placeholder="教师号"/>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" class="select_student" @click="selectStudent">查询学生</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
            <el-table
                :data="studentList"
                :stripe="true"
                style="width: calc(100% - 20px) ">
                <el-table-column
                    prop="studentNum"
                    label="学号"
                    width="120"
                />
                <el-table-column
                    prop="studentName"
                    label="姓名"
                    width="80"/>
                <el-table-column
                    prop="sex"
                    label="性别"
                    width="60"/>
                <el-table-column
                    prop="domain"
                    label="专业"
                    fit/>
                <el-table-column
                    prop="grade"
                    label="班级"
                    fit/>
                <el-table-column
                    prop="enrollmentYear"
                    label="入学年份"
                    width="100"/>
                <el-table-column
                    prop="teacherName"
                    label="导师"
                    width="80"/>
                <el-table-column label="操作" fit>
                    <template slot-scope="item">
                        <el-button  type="text" @click="viewStudent(item.row)" >查看</el-button>
                        <el-button  type="text" @click="editStudent(item.row)" >编辑</el-button>
                        <el-button  type="text" @click="deleteStudent(item.row)" >删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="pageGroup"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total"/>
        </div>
        <el-dialog
            :visible.sync="infoShow"
            @close="dialogClose()"
            :destroy-on-close="true"
            title="学生信息"
            width="500px"
            top="100px"
            center>
            <el-form
                ref="ruleForm"
                :model="studentInfo"
                class="info_form"
                :rules="rules"
                label-width="120px">
                <el-form-item label="学号" prop="studentNum">
                    <el-input v-model.number="studentInfo.studentNum" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                    <el-input v-model="studentInfo.password" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="姓名" prop="studentName">
                    <el-input v-model="studentInfo.studentName" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="性别" prop="sex">
                    <el-radio-group v-model="studentInfo.sex">
                        <el-radio label="男" :disabled="isView==true"/>
                        <el-radio label="女" :disabled="isView==true"/>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="专业" prop="domain">
                    <el-input v-model="studentInfo.domain" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="班级" prop="grade">
                    <el-input v-model="studentInfo.grade" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="电话号码" prop="phone">
                    <el-input v-model.number="studentInfo.phone" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="qq号码" prop="qq">
                    <el-input v-model.number="studentInfo.qq" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="入学年份" prop="enrollmentYear">
                    <el-input v-model.number="studentInfo.enrollmentYear" :disabled="isView==true"/>
                </el-form-item>
                <el-form-item label="导师工号" prop="teacherNum">
                    <el-input v-model.number="studentInfo.teacherNum" :disabled="isView==true"/>
                </el-form-item>
                <div class="button_box">
                    <el-button v-show="isView==false" type="primary" @click="onSubmit('ruleForm')">确认提交</el-button>
                    <el-button @click="infoShow=false" v-text="isView==true?'确认':'取消'"/>
                </div>
            </el-form>
        </el-dialog>
    </div>
</template>

<script>
export default {
    name: 'StudentManage',
    data() {
        return {
            pageGroup: [],
            total: 0,
            pageSize: 10,
            currentPage: 1,
            infoShow: false,
            isView: false,
            isAdd: false,
            studentList: [],
            studentForm: {
                studentNum: '',
                studentName: '',
                domain: '',
                teacherNum: '',
                grade: ''
            },
            studentInfo: {},
            rules: {
                studentNum: [
                    { required: true, message: '请输入学号', trigger: 'blur' },
                    { type: 'number', message: '请输入数字', trigger: 'blur' }
                ],
                studentName: { required: true, message: '请输入姓名', trigger: 'blur' },
                sex: { required: true, message: '请选择性别', trigger: 'change' },
                domain: { required: true, message: '请输入专业', trigger: 'blur' },
                grade: { required: true, message: '请输入班级', trigger: 'blur' },
                phone: [
                    { type: 'number', message: '格式为11位数字', trigger: 'blur' },
                    { required: true, type: 'number', message: '请输入电话号码', trigger: 'blur' }],
                qq: [
                    { required: true, type: 'number', message: '请输入qq号码', trigger: 'blur' },
                    { type: 'number', message: '格式为数字', trigger: 'blur' }
                ],
                enrollmentYear: [
                    { required: true, message: '请输入入学年份', trigger: 'blur' },
                    { min: 1e3, max: 1e4 - 1, type: 'number', message: '年份格式,如：2008', trigger: 'blur' }
                ],
                teacherName: { required: true, message: '请输入论文导师', trigger: 'blur' },
                teacherNum: { required: true, type: 'number', message: '请输入论文导师工号', trigger: 'blur' },
                password: { required: true, message: '请输入密码', trigger: 'blur' }
            }
        }
    },
    created() {
        this.queryStudentList()
    },
    watch: {
        total(val) {
            this.pageGroup = []
            if (val <= 10) {
                this.pageGroup = [5, 10]
            } else {
                const n = val / 10
                for (let i = 0; i < n; i++) {
                    this.pageGroup.push((i + 1) * 10)
                }
            }
        }
    },
    methods: {
        queryStudentList() {
            const param = {
                pageSize: this.pageSize,
                currentPage: this.currentPage,
                studentNum: this.studentForm.studentNum,
                studentName: this.studentForm.studentName,
                domain: this.studentForm.domain,
                grade: this.studentForm.grade,
                teacherNum: this.studentForm.teacherNum
            }
            this.$apis.getStudentList(param).then((res) => {
                if (res.code === 200) {
                    this.studentList = res.data.list
                    this.total = res.data.total
                }
            }).catch(() => {
            })
        },
        queryAddStudent() {
            const param = {
                studentNum: this.studentInfo.studentNum,
                studentName: this.studentInfo.studentName,
                domain: this.studentInfo.domain,
                grade: this.studentInfo.grade,
                enrollmentYear: this.studentInfo.enrollmentYear,
                sex: this.studentInfo.sex,
                phone: this.studentInfo.phone,
                qq: this.studentInfo.qq,
                password: this.studentInfo.password,
                teacherNum: this.studentInfo.teacherNum
            }
            this.$apis.addStudent(param).then((res) => {
                if (res.code === 200) {
                    this.$message({
                        type: 'success',
                        message: '添加成功!'
                    })
                    this.queryStudentList()
                }
            }).catch(() => {
            })
        },
        queryEditStudent() {
            const param = {
                studentId: this.studentInfo.studentId,
                studentNum: this.studentInfo.studentNum,
                studentName: this.studentInfo.studentName,
                domain: this.studentInfo.domain,
                grade: this.studentInfo.grade,
                enrollmentYear: this.studentInfo.enrollmentYear,
                sex: this.studentInfo.sex,
                phone: this.studentInfo.phone,
                qq: this.studentInfo.qq,
                password: this.studentInfo.password,
                teacherName: this.studentInfo.teacherName
            }
            this.$apis.editStudent(param).then((res) => {
                if (res.code === 200) {
                    this.$message({
                        type: 'success',
                        message: '修改成功!'
                    })
                    this.queryStudentList()
                }
            }).catch(() => {
            })
        },
        queryDeleteStudent() {
            const param = {
                studentId: this.studentInfo.studentId
            }
            this.$apis.deleteStudent(param).then((res) => {
                if (res.code === 200) {
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    })
                    this.queryStudentList()
                }
            }).catch(() => {
            })
        },
        addStudent() {
            this.isAdd = true
            this.infoShow = true
        },
        viewStudent(item) {
            this.infoShow = true
            this.studentInfo = item
            this.isView = true
        },
        selectStudent() {
            this.queryStudentList()
        },
        onSubmit(formName) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    this.infoShow = false
                    if (this.isAdd) {
                        this.queryAddStudent()
                        this.isAdd = false
                    } else {
                        this.queryEditStudent()
                    }
                    this.queryStudentList()
                } else {
                    return false
                }
            })
        },
        editStudent(item) {
            this.infoShow = true
            this.studentInfo = item
        },
        deleteStudent(item) {
            this.studentInfo = item
            this.$confirm('确认删除?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.queryDeleteStudent()
                this.queryStudentList()
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '已取消删除'
                })
            })
        },
        handleSizeChange(val) {
            this.pageSize = val
            this.queryStudentList()
        },
        handleCurrentChange(val) {
            this.currentPage = val
            this.queryStudentList()
        },
        dialogClose() {
            this.isAdd = false
            this.isView = false
            this.studentInfo = {}
        },
        clearSelect() {
            this.studentForm.studentNum = ''
            this.studentForm.studentName = ''
            this.studentForm.domain = ''
            this.studentForm.teacherNum = ''
            this.studentForm.grade = ''
            this.queryStudentList()
        }
    }
}
</script>

<style lang="less" scoped>
@import './student_manage.less';
</style>
